h1{
    color: floralwhite;
    background-color: darkviolet;
    text-align: center;
}
h3{
    text-transform: uppercase;
    line-height: 12px;
font-style: italic;
}
P{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
h4{color: mediumpurple;
font-style: oblique;
}
ul{
    font-weight: bolder;
    font-family:serif
}
ol{font-weight: bolder;
    font-family: serif;
}
.destacados{
    color: mediumpurple;
    font-size: 22px;
}